@page "/production"

@using ISO_ERP.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using System.Linq
@using ISO_ERP.Components.Common
@using ISO_ERP.Components.Production
@inject ISO_ERP.Services.ProductionExcelService ProductionExcelService
@inject ISO_ERP.Services.ProductionPdfService ProductionPdfService
@inject ISO_ERP.Services.ProductService ProductService
@inject IJSRuntime JS
@inject ISO_ERP.Services.ProductionService ProductionService
@inject ISO_ERP.Services.InspectorService InspectorService
@inject NavigationManager Navigation
@inject IConfiguration Configuration

<h3>Ražošanas uzskaite</h3>

@if (showExcelLockedMessage)
{
    <div class="alert alert-warning">
        Dati saglabāti, bet Excel failu neizdevās atjaunot, jo tas ir atvērts.
        Aizveriet Excel failu. Nākamajā datu izmaiņā Excel tiks atjaunots automātiski.  

        <button type="button"
                class="btn-close"
                @onclick="() => showExcelLockedMessage = false">
        </button>

        
    </div>
}

<ProductionEntryForm
    NewProduction="@newProduction"
    IsEditMode="@isEditMode"
    Products="@products"
    AllProducts="@allProducts"
    BatchNoChanged="@(x => searchText = x)"
    Inspectors="@inspectors"
    IsEditModeChanged="@(x => isEditMode = x)"
    CancelEditRequested="CancelEdit"
    SaveProduction="SaveProduction" />

<div class="erp-section-title">
    Esošās ražošanas partijas
</div>

<ProductionFilters
    AllProducts="@allProducts"
    SearchText="@searchText"
    SearchTextChanged="@(x => searchText = x)"
    SelectedProductFilter="@selectedProductFilter"
    SelectedProductFilterChanged="@(x => selectedProductFilter = x)"
    FilterDateFrom="@filterDateFrom"
    FilterDateFromChanged="OnFilterDateFromChanged"
    FilterDateTo="@filterDateTo"
    FilterDateToChanged="OnFilterDateToChanged"
    ShowCompletedOnly="@showCompletedOnly"
    ShowCompletedOnlyChanged="@(x => showCompletedOnly = x)"
    ShowIncompleteOnly="@showIncompleteOnly"
    ShowIncompleteOnlyChanged="@(x => showIncompleteOnly = x)"
    ShowPrintedOnly="@showPrintedOnly"
    ShowPrintedOnlyChanged="@(x => showPrintedOnly = x)"
    ShowNotPrintedOnly="@showNotPrintedOnly"
    ShowNotPrintedOnlyChanged="@(x => showNotPrintedOnly = x)"
    ClearFilters="ClearFilters"
    GeneratePdf="GeneratePdf"
    ExportExcel="ExportExcel" />

<ProductionTable
    Productions="@productions"
    IsEditMode="@isEditMode"
    SelectedProduction="@selectedProduction"
    SelectedProductionChanged="@(x => selectedProduction = x)"
    SearchText="@searchText"
    SelectedProductFilter="@selectedProductFilter"
    FilterDateFrom="@filterDateFrom"
    FilterDateTo="@filterDateTo"
    ShowCompletedOnly="@showCompletedOnly"
    ShowIncompleteOnly="@showIncompleteOnly"
    ShowPrintedOnly="@showPrintedOnly"
    ShowNotPrintedOnly="@showNotPrintedOnly"
    NewProduction="@newProduction"
    ProductionToDelete="@productionToDelete"
    RequestDelete="RequestDelete"
    SelectedForPrintIds="@selectedForPrintIds"
    TogglePrintSelection="TogglePrintSelection"
    StartEdit="StartEdit" />

@if (productionToDelete != null)
{
    <div class="delete-confirm-popup">

        <div class="delete-confirm-box">

            <div class="mb-3">
                Vai izdzēst šo
                <strong>@productionToDelete.BatchNo</strong>
                ierakstu precei
                <strong>@productionToDelete.ProductName</strong>?
            </div>

            <div class="delete-confirm-actions">

                <button class="btn btn-danger"
                        @onclick="ConfirmDelete">
                    OK
                </button>

                <button class="btn btn-secondary"
                        @onclick="CancelDelete">
                    Atcelt
                </button>

            </div>

        </div>

    </div>
}


@code {

    

    private DateTime? filterDateFrom;

    private DateTime? filterDateTo;

    private bool isEditMode = false;

    private string searchText = "";

    private string selectedProductFilter = "";

    private bool showCompletedOnly;
    private bool showIncompleteOnly;
    private bool showPrintedOnly;
    private bool showNotPrintedOnly;
    private Production? productionToDelete;
    private List<int> selectedForPrintIds = new();
    private bool showExcelLockedMessage;
    private List<Production> productions = new();
    private List<Product> products = new();
    private List<Product> allProducts = new();
          
    private Production? selectedProduction;
    private List<Inspector> inspectors = new();
    
    private string ProductionExcelPath = "";
    
    private Production newProduction = new();

    private bool HasDateRangeError()
        {
            return newProduction.StartDate.HasValue
                && newProduction.FinishedDate.HasValue
                && newProduction.FinishedDate.Value.Date < newProduction.StartDate.Value.Date;
        }

    protected override async Task OnInitializedAsync()
    {
        ProductionExcelPath =
            Configuration["ExcelExport:ProductionPath"] ?? "";

        Console.WriteLine($"EXCEL PATH = {ProductionExcelPath}");

        productions = await ProductionService.GetAllAsync();
        products = await ProductService.GetActiveAsync();
        allProducts = await ProductService.GetAllWithInactiveAsync();
        inspectors = await InspectorService.GetAllAsync();
        
    }

    private async Task SaveProduction()
        {
            if (isEditMode)
                {
                    await SaveEditProduction();
                    return;
                }
               
            var savedBatchNo = newProduction.BatchNo;
            var savedStartDate = newProduction.StartDate;

            await ProductionService.AddAsync(newProduction);

            productions.Insert(0, new Production
                {
                    BatchNo = newProduction.BatchNo,
                    ProductName = newProduction.ProductName,
                    ProductCode = newProduction.ProductCode,
                    ProductId = newProduction.ProductId,
                    Quantity = newProduction.Quantity,
                    StartDate = newProduction.StartDate,
                    FinishedDate = newProduction.FinishedDate,
                    CheckedBy = newProduction.CheckedBy,
                    Notes = newProduction.Notes,
                    PrintedDate = newProduction.PrintedDate,
                    IsPrinted = newProduction.IsPrinted
                });

            showExcelLockedMessage =
                !ProductionExcelService.SaveExcelToFile(
                    productions,
                    ProductionExcelPath);

            newProduction = new Production
            {
                BatchNo = savedBatchNo,
                StartDate = savedStartDate
            };

       }

    private async Task SaveEditProduction()
        {
            if (newProduction.FinishedDate < newProduction.StartDate)
            {
                return;
            }

            await ProductionService.UpdateAsync(newProduction);

            var existing = productions
                .FirstOrDefault(x => x.Id == newProduction.Id);

            if (existing != null)
            {
                existing.CheckedBy = newProduction.CheckedBy;
                existing.FinishedDate = newProduction.FinishedDate;
                existing.Notes = newProduction.Notes;
                existing.IsCompleted = newProduction.FinishedDate != null;
                isEditMode = false;
            }

            showExcelLockedMessage =
                !ProductionExcelService.SaveExcelToFile(
                    productions,
                    ProductionExcelPath);

            newProduction = new Production();
        }



     private void ClearFilters()
        {
            searchText = "";

            selectedProductFilter = "";

            filterDateFrom = null;

            filterDateTo = null;

            showCompletedOnly = false;
            showIncompleteOnly = false;

            showPrintedOnly = false;
            showNotPrintedOnly = false;
        }

    private Task OnFilterDateFromChanged(DateTime? value)
        {
            filterDateFrom = value;

            StateHasChanged();

            return Task.CompletedTask;
        }

    private Task OnFilterDateToChanged(DateTime? value)
        {
            filterDateTo = value;

            StateHasChanged();

            return Task.CompletedTask;
        }

    private void StartEdit(Production production)
        {
            isEditMode = true;

            newProduction = new Production
            {
                Id = production.Id,
                BatchNo = production.BatchNo,
                ProductName = production.ProductName,
                ProductCode = production.ProductCode,
                ProductId = production.ProductId,
                Quantity = production.Quantity,
                Recipe = production.Recipe,
                IsPrinted = production.IsPrinted,
                PrintedDate = production.PrintedDate,
                StartDate = production.StartDate,
                CheckedBy = production.CheckedBy,
                FinishedDate = production.FinishedDate,
                Notes = production.Notes,
                IsCompleted = production.IsCompleted
            };
        }
    
    private void CancelEdit()
        {
            isEditMode = false;

            newProduction = new Production();
        }
    
    private void RequestDelete(Production production)
        {
            productionToDelete = production;
        }
    
    private async Task ConfirmDelete()
        {
            if (productionToDelete == null)
                return;

            await ProductionService.DeleteAsync(productionToDelete.Id);

            productions.RemoveAll(x => x.Id == productionToDelete.Id);

            showExcelLockedMessage =
                !ProductionExcelService.SaveExcelToFile(
                    productions,
                    ProductionExcelPath);

            productionToDelete = null;
        }

    private void CancelDelete()
        {
            productionToDelete = null;
        }
    

private void TogglePrintSelection(int id)
{
    if (selectedForPrintIds.Contains(id))
    {
        selectedForPrintIds.Remove(id);
    }
    else
    {
        selectedForPrintIds.Add(id);
    }
}

private List<Production> SelectedProductionsForPrint =>
    productions
        .Where(x => selectedForPrintIds.Contains(x.Id))
        .ToList();

private async Task GeneratePdf()
{
    if (!SelectedProductionsForPrint.Any())
        return;

    var pdfBytes = await ProductionPdfService
        .GenerateProductionPdf(SelectedProductionsForPrint);
    
    foreach (var item in SelectedProductionsForPrint)
        {
            item.PrintedDate = DateTime.Now;
            item.IsPrinted = true;

            await ProductionService.UpdateAsync(item);
        }

    var fileName = $"production-{DateTime.Now:yyyyMMdd-HHmm}.pdf";

    await JS.InvokeVoidAsync(
        "downloadFileFromBytes",
        fileName,
        Convert.ToBase64String(pdfBytes)
    );

    StateHasChanged();
    selectedForPrintIds.Clear();
}

private async Task ExportExcel()
{
    var excelBytes =
        ProductionExcelService.GenerateExcel(productions);

    var fileName =
        $"production-{DateTime.Now:yyyyMMdd-HHmm}.xlsx";

    await JS.InvokeVoidAsync(
        "downloadFileFromBytes",
        fileName,
        Convert.ToBase64String(excelBytes));
}


}